.magin {
    width: 980px;
    height: 455px;
    /* background-color: pink; */
    margin-left: 220px;
    margin-top: 10px;
}

.focus {
    position: relative;
    float: left;
    width: 721px;
    height: 455px;
    background-color: purple;
}

.focus::before {
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -15px;
    display: block;
    content: '\e6e9';
    font-family: 'iconfont';
    width: 15px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    background: rgba(0, 0, 0, 0.3);
}

.focus::after {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -15px;
    display: block;
    content: '\e6e9';
    font-family: 'iconfont';
    width: 15px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    background: rgba(0, 0, 0, 0.3);
}

.newflash {
    float: right;
    width: 250px;
    height: 455px;
    /* background-color: skyblue; */
}

.news {
    height: 165px;
    border: 1px solid #e4e4e4;
    /* background-color: pink; */
}

.news-hd {
    height: 33px;
    line-height: 30px;

    border-bottom: 1px dotted #e4e4e4;
    padding: 0 15px;
}

.news-hd h5 {
    font-size: 14px;
    float: left;
}

.news-hd .more {
    float: right;
}

.news-hd .more::after {
    content: '\e6e9';
    font-size: 10px;
    font-weight: 700;
    font-family: 'iconfont';

}

.news-bd {
    padding: 5px 15px 0;
}

.news-bd ul li {
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.lifeservice {
    overflow: hidden;
    height: 209px;
    /* background-color: purple; */
    border: 1px solid #e4e4e4;
    border-top: 0;
}

.lifeservice ul {
    width: 252px;
}

.lifeservice ul li {
    float: left;
    width: 63px;
    height: 71px;
    text-align: center;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}

.lifeservice ul li i {
    display: inline-block;
    width: 24px;
    height: 28px;
    background-color: pink;
    margin-top: 12px;
    background: url(../IMAGES/icons.png) no-repeat -19px -15px;
}

.bargain img {
    margin-top: 6px;
}

/* 推荐模块 */
.recom {
    height: 163px;
    background-color: #ebebeb;
    margin-top: 12px;
}

.recom_hd {
    float: left;
    height: 163px;
    width: 205px;
    background-color: #5c5251;
    text-align: center;
    padding-top: 30px;
}

.recom_bd {
    float: left;
}

.recom_bd ul li {
    position: relative;
    float: left;
}

.recom_bd ul li img {
    width: 248px;
    height: 163px;
}

.recom_bd ul li:nth-child(-n+3)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 10px;
    height: 145px;
    width: 1px;
    background-color: #ddd;
}

/* 家用电器模块 */
.box_hd {
    height: 30px;
    border-bottom: 2px solid #c81623;
}

.box_hd h3 {
    float: left;
    font-size: 18px;
    color: #c81623;
    font-weight: 400;
}

.tab_list {
    float: right;
    line-height: 30px;
}

.tab_list ul li {
    float: left;
}

.tab_list ul li a {
    padding: 0 15px;
}

.floor .w {
    margin-top: 30px;
}

.box_bd {
    height: 361px;
    /* background-color: pink; */
}

.tab_list_item>div {
    float: left;
    height: 361px;
}

.col_210 {
    width: 210px;
    background-color: #f9f9f9;
    text-align: center;
}

.col_210 ul li {
    float: left;
    width: 85px;
    height: 34px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    line-height: 33px;
    margin-right: 10px;
}

.col_210 ul {
    padding-left: 12px;

}

.col_329 {
    width: 329px;
}

.col_221 {
    width: 221px;
    border-right: 1px solid #ccc;
}

.col_219 {
    width: 219px;
}

.bb {
    /* 一般情况下，a如果包含有宽度的盒子，a想要转为块级元素 */
    display: block;
    border-bottom: 1px solid #ccc;
}