/* 列表页专有css */
.nav {
    overflow: hidden;
}

.sk {
    position: absolute;
    left: 190px;
    top: 40px;
    border-left: 1px solid #c81523;
    padding: 3px 0 0 14px;
}

.sk_list {
    float: left;
}

.sk_list ul li {
    float: left;
}

.sk_list ul li a {
    display: block;
    line-height: 47px;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 700;
    color: #000;
}

.sk_con {
    float: left;
}

.sk_con ul li {
    float: left;
}

.sk_con ul li a {
    display: block;
    line-height: 49px;
    padding: 0 20px;
    font-size: 14px;

}

.sk_con ul li:last-child a::after {
    content: '\e665';
    font-family: 'iconfont';
}

.sk_bd ul li {
    overflow: hidden;
    float: left;
    width: 290px;
    height: 460px;
    border: 1px solid transparent;
    margin-right: 13px;
}

.sk_bd ul li:nth-child(4n) {
    margin-right: 0;
}

.sk_bd ul li:hover {
    border: 1px solid red;
}

.sk_bd ul li img {
    margin-bottom: 10px;
}

.sk_bd ul li p {
    font-size: 14px;
}

.sk_bd ul li .discount_price {
    font-size: 22px;
    color: #c81523;
    font-weight: 700;
}

.sk_bd ul li .original_price {
    font-size: 12px;
    text-decoration: line-through;
}

.sk_bd ul li .price {
    margin: 10px 0 5px 0;
}

.sk_bd ul li .progress_bar {
    float: left;
    width: 133px;
    height: 15px;
    border: 1px solid #c81523;
    border-radius: 8px;
    margin: 2px 10px 0px 8px;
}

.sk_bd ul li .jindu {
    width: 87%;
    height: 14px;
    background-color: #c81523;
    border-radius: 8px;
    transition: width 2s;
}

.sk_bd ul li .jindu:hover {
    width: 100%;
}

.sk_bd ul li img {
    width: 290px;
    height: 290px;
}

.sk_bd ul li .cargo_quantity .qg {
    display: block;
    color: #fff;
    height: 50px;
    line-height: 50px;
    background-color: #b1191a;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

.cargo_quantity {
    padding: 0 6px;
}