@font-face {
  font-family: "iconfont"; /* Project id 5066119 */
  src: url('iconfont.woff2?t=1763452388495') format('woff2'),
       url('iconfont.woff?t=1763452388495') format('woff'),
       url('iconfont.ttf?t=1763452388495') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shoping:before {
  content: "\e602";
}

.icon-arrow-down:before {
  content: "\e665";
}

